html {
  min-height: 100vh;
}

body {
  background: center / cover no-repeat url('/cover.jpg');
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1;
}

.Splash {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.Splash-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Splash-title {
  background: #cc2855;
  color: #fff;
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  padding: 0.2em;
}

.Splash-subtitle {
  background: #fff;
  color: #cc2855;
  font-size: 36px;
  margin: 10px 0 0;
  padding: 8px 18px;
  text-transform: lowercase;
}

.Splash-sticker {
  align-self: flex-end;
  background: #cc2855;
  color: #fff;
  font-size: 20px;
  padding: 4px 8px;
  position: relative;
  right: -18px;
  transform: rotate(-8deg);
}

.Splash-okay {
  font-size: 18px;
  margin-top: 24px;
  text-align: left;
}

.Splash-arrow {
  animation: animation-bounce 1000ms ease-in infinite;
  display: inline-block;
  margin-left: 0.5em;
}

.Splash-nav {
  top: 20px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.Splash-navItem {
  display: inline;
}
.Splash-navItem:not(:first-child)::before {
  color: #cc2855;
  content: ' / ';
  font-weight: 600;
  margin: 0 5px;
}

.Splash-navLink {
  color: #cc2855;
  font-weight: 600;
  padding: 2px 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.Splash-navLink:hover {
  background-color: #fff;
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@keyframes animation-bounce {
  0% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(2px);
  }
}
