html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1;
}

.ScrollSection {
  min-height: 100vh;
}

.Splash {
  background: center / cover no-repeat url('/cover.jpg');
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.Splash-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Splash-title {
  background: #cc2855;
  color: #fff;
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
  margin: 0;
  padding: 0.2em;
}

.Splash-subtitle {
  background: #fff;
  color: #cc2855;
  font-size: 36px;
  margin: 10px 0 0;
  padding: 8px 18px;
  text-transform: lowercase;
}

.Splash-sticker {
  align-self: flex-end;
  background: #cc2855;
  color: #fff;
  font-size: 20px;
  padding: 4px 8px;
  position: relative;
  right: -18px;
  transform: rotate(-8deg);
}

.Splash-okay {
  font-size: 18px;
  margin-top: 24px;
  text-align: left;
}

.Splash-arrow {
  animation: animation-bounce 1000ms ease-in infinite;
  display: inline-block;
  margin-left: 0.5em;
}

.Splash-nav {
  top: 20px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.Splash-navItem {
  display: inline;
}
.Splash-navItem:not(:first-child)::before {
  color: #cc2855;
  content: ' / ';
  font-weight: 600;
  margin: 0 5px;
}

.Splash-navLink {
  color: #cc2855;
  font-weight: 600;
  padding: 2px 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.Splash-navLink:hover {
  background-color: #fff;
  text-decoration: underline;
}

.AboutUs,
.RSVP {
  background: #cc2855;
  color: #fff;
}

.AboutUs,
.Schedule,
.RSVP {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.AboutUs {
  display: flex;
}
.AboutUs-gallery {
  width: 30vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.AboutUs-galleryImage {
  display: block;
  width: 100%;
}
.AboutUs-content {
  flex-grow: 1;
  text-align: center;
}

.Schedule {
  display: block;
  text-align: center;
}
.Schedule-section {
  display: flex;
}
.Schedule-timeline {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  text-align: left;
}
.Schedule-timelineEvent {
  border-left: 4px solid #cc2855;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 20px;
  position: relative;
}
.Schedule-timestamp::after {
  background: #cc2855;
  border-radius: 5px;
  content: " ";
  display: inline-block;
  height: 10px;
  margin-left: 10px;
  margin-right: -3px;
  width: 10px;
}
.Schedule-timestamp {
  align-items: center;
  display: inline-flex;
  position: absolute;
  right: 100%;
}
.Schedule-majorEvent {
  font-size: 24px;
  padding-top: 30px;
}
.Schedule-miniEvent {
  display: inline-block;
  font-weight: 900;
  margin: 0;
}

.Schedule-event {
  background: #cc2855;
  color: #fff;
  display: inline-block;
  font-weight: 900;
  margin: 0;
  margin-right: 10px;
  padding: 4px 8px;
}
.Schedule-location {
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
}
.Schedule-majorEvent .Schedule-timestamp {
  padding: 4px 0;
  font-weight: 900;
}
.Schedule-majorEvent .Schedule-timestamp::after {
  background: #fff;
  border: 5px solid #cc2855;
  border-radius: 10px;
  box-sizing: border-box;
  content: " ";
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  margin-right: -8px;
  width: 20px;
}
.Schedule-majorEvent .Schedule-location {
  font-weight: 900;
}
.Schedule-description {
  font-size: 16px;
}
.Schedule-map {
  min-width: 450px;
  width: 30vw;
}
.Schedule-standaloneMap {
  float: left;
  margin: 0 20px;
}
.Schedule-inlineMap {
  /* display: none; */
  margin-left: -999em;
  position: absolute;
  visibility: hidden;
}
@media (max-width: 1200px) {
  .Schedule-standaloneMap {
    display: none;
  }
  .Schedule-inlineMap {
    /* display: block; */
    margin: 0;
    position: static;
    visibility: visible;
  }
}
.Schedule-mapContainer {
  position: relative;
  padding-top: 75%;
}
.Schedule-mapFrame {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes animation-bounce {
  0% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(2px);
  }
}
